:root {
  --font-rubik: "Rubik", serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-select {
  width: 100% !important;
  background: transparent !important;
}

.react-select__indicators {
  margin-right: 31px !important;
}

.react-select--is-disabled .react-select__control {
  background: transparent !important;
}
.react-select--is-disabled .react-select__indicators {
  margin-right: auto !important;
}
